#navbar {
    /* height: 100px; */
    background-color: #2E3139;
}

#active {
    margin-top: 25px;
}

#active li {
    padding-left: 90px;
}

#active li a {
    color: white;
}

#active li a:hover {
    color: #37363B;
    background-color: #F26C36;
}

#name {
    color: #664830;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#image {
    width: 120px;
    height: 50px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.Karibu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
}

.Karibu h1 {
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: 'Lobster', cursive;
}

.Karibu span {
    background-color: #74681B;
}

.Karibu p {
    text-align: center;
    color: white;
    font-size: 15px;
}

#menupage {
    background-color: #FCDD85;
    height: 620px;
}

.container-fluid h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

.row span {
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.row ul {
    font-size: 15px;
    list-style: none;
    line-height: 30px;
}

.row h4 {
    text-align: center;
}

#images {
    width: 100%;
    height: 350px;
}

.orderanddelivery h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

#deliver {
    height: auto;
}

.bill h4 {
    font-family: 'Lobster', cursive;
}

.contactUs h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white
}

.container {
    margin-top: 30px;
    background-color: #9F3A20;
    /* height: 200px; */
}

.contactUs {
    height: 300px;
    background-color: #45464B;
}

textarea {
    margin-left: 20px;
}

#btn {
    margin-left: 120px;
}

.footer {
    background-color: #FCDD85;
    height: 50px;
}

.footer h2 {
    text-align: center;
    padding-top: 15px;
}

h3 {
    color: white !important;
}